
.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
}
/* Animation  fade In Up*/

@keyframes fadeInUp {
    from {
        transform: translate3d(0,50px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
/* Animation  fade In down*/
@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-40px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-40px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }

 /* Animation  fade In Left*/
@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(40px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
 }
 /* Animation  fade In Right*/
 @-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
 }


