<div class="doctors" animateOnScroll animationName="animated animatedFadeInUp fadeInUp" offset="120">
    <div class="container">
        <div class="doctors-title w-100 text-center">
            <h2> We are here for Your Help</h2>
        </div>
        <div class="doctors-list w-100">
            <div class="doctor">
                <div class="doctor-image">
                    <img src="assets/images/doc1.jpg" alt="Doctor" />
                </div>
                <div class="doctor-name">
                    Dr. Misha Kapoor
                </div>
                <div class="doctor-qualification">
                    Sr. Dentistry
                </div>
            </div>
            <div class="doctor">
                <div class="doctor-image">
                    <img src="assets/images/doc2.jpg" alt="Doctor" />
                </div>
                <div class="doctor-name">
                        Dr. Jaka Alex
                </div>
                <div class="doctor-qualification">
                        Dermatology
                </div>
            </div>
            <div class="doctor">
                <div class="doctor-image">
                    <img src="assets/images/doc3.jpg" alt="Doctor" />
                </div>
                <div class="doctor-name">
                        Dr. Mark Jacobson
                </div>
                <div class="doctor-qualification">
                        Sr. Cardiologist
                </div>
            </div>
            <div class="doctor">
                <div class="doctor-image">
                    <img src="assets/images/doc4.jpg" alt="Doctor" />
                </div>
                <div class="doctor-name">
                        Dr. Rose Elea
                </div>
                <div class="doctor-qualification">
                        ENT
                </div>
            </div>
        </div>
        <div class="w-100 m-t-20 text-center">
            <a href="javascript:void(0)">View More</a>
        </div>
    </div>
</div>