@import "../../../variables";
@import '../../../function';
@import "../../../mixins";

.testimonials {
  background-color: var(--light-blue-bg);
  min-height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-review {
    background: #fff;
    padding: 25px;
    line-height: 25px;
    text-align: center;
    @include respond-above(medium-screens) {
      min-width: 1140px;
    }
  }
  .review-text {
    margin-bottom: 30px;
    outline: none;
  }
  .carousel {
    outline: none;
    .carousel-control-prev-icon {
      color: red;
    }
    .carousel-indicators li {
      background-color: #0098df;
    }
  }
  .d-inline-flex {
    outline: none;
    color: #0098df;
  }  
}
