
<header class="header">
    <div class="header-logo">
        <img src="assets/images/header-logo.svg" alt="Logo Header">
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="#aboutUs">About Us</a></li>
        <li><a href="#departments">Departments</a></li>
        <li><a href="#ourDoctors">Our Doctors</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a class="login-link">Login / Signup</a></li>
    </ul>
</header>