<div class="gallery" animateOnScroll animationName="animated animatedFadeInUp fadeInUp" offset="120">
        <div class="container">
            <div class="gallery-title w-100 text-center"> 
               <h2> Gallery</h2>
            </div>
            <div class="gallery-list w-100">
            <div class="image-holder">
                <img src="assets/images/gallery1.png" alt="Doctor" />
            </div>
            <div class="image-holder">
                    <img src="assets/images/gallery2.png" alt="Doctor" />
            </div>
            <div class="image-holder">
                    <img src="assets/images/gallery3.png" alt="Doctor" />
            </div>
        </div>
        <div class="w-100 m-t-20 text-center">
            <a href="javascript:void(0)">View More</a>
        </div>
        </div>
    </div>
