<div class="contact-details container" animateOnScroll animationName="animated animatedFadeInUp fadeInUp" offset="120">
    <div class="row">
        <div class="form col">
            <h4 class="form-title"> Contact Us</h4>
            <form>
                <div class="form-group">
                    <label for="name">Name <i class="fa fa-times" aria-hidden="true"></i></label>
                    <input type="text" class="form-control" placeholder="Name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                        <label for="askAQuestion">Ask a Question</label>
                        <textarea rows="5" class="form-control" id="askAQuestion"></textarea>
                    </div>
            </form>
        </div>
        <div class="map col">
                <h4 class="form-title"> Address</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.2431953507394!2d78.38863831476954!3d17.495900504271813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91f3905131a5%3A0x90b94c836a439357!2sDrucare+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1562945449975!5m2!1sen!2sin" width="100%" height="83%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>